@mixin center($width: 100%, $height: 100%) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    height: $height;
}

@mixin font($size: 18px, $weight: 400, $color: #525252) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin text-decoration($line: underline, $style: solid, $color: #525252, $width: 2px, $offset: 5px) {
    text-decoration: $line $style $color $width;
    text-underline-offset: $offset;
}

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@font-face {
    font-family: QingKeBenYueSong;
    src: url(../font/qingkebenyuesong.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&family=Anuphan:wght@200;300;400;500;600;700&family=Assistant:wght@300;400;500;600;700;800&family=Chivo+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Heebo:wght@300;400;500;600;700;800;900&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Lexend:wght@300;400;500;600;700;800;900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,700&family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&family=Outfit:wght@300;400;500;600;700;800;900&family=Overpass:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Red+Hat+Mono:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,700&family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,700&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&family=Martel:wght@200;300;400;600;700;800;900&family=Noto+Sans+Mono:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&family=Varela+Round&family=Comfortaa:wght@300;400;500;600;700&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Almarai:wght@300;400;700;800&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Bitter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Courgette&family=Domine:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Exo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&family=Kalam:wght@400;700&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Sono:wght@300;400;500;600;700;800&family=Special+Elite&family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,700&family=Spinnaker&family=Spline+Sans:wght@400;500;600;700&family=Stoke:wght@300;400&family=Tajawal:wght@400;500;700;800;900&family=Trykker&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&family=Ysabeau:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Rubik+Dirt&family=DotGothic16&family=Klee+One:wght@400;600&family=Sawarabi+Mincho&display=swap');

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: rgb(82, 82, 82);
    background: rgb(234, 234, 234);
    transition: color 0.5s, background-color 0.5s;
    font-family: "vollkorn", QingKeBenYueSong, serif;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.router-link-active.router-link-exact-active {
    text-decoration: none;
}

// font
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&family=Anuphan:wght@200;300;400;500;600;700&family=Assistant:wght@300;400;500;600;700;800&family=Chivo+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Heebo:wght@300;400;500;600;700;800;900&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Lexend:wght@300;400;500;600;700;800;900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,700&family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&family=Outfit:wght@300;400;500;600;700;800;900&family=Overpass:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Red+Hat+Mono:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,700&family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,700&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&family=Martel:wght@200;300;400;600;700;800;900&family=Noto+Sans+Mono:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&family=Varela+Round&family=Comfortaa:wght@300;400;500;600;700&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Almarai:wght@300;400;700;800&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Bitter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Courgette&family=Domine:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Exo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&family=Kalam:wght@400;700&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Sono:wght@300;400;500;600;700;800&family=Special+Elite&family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,700&family=Spinnaker&family=Spline+Sans:wght@400;500;600;700&family=Stoke:wght@300;400&family=Tajawal:wght@400;500;700;800;900&family=Trykker&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&family=Ysabeau:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Rubik+Dirt&family=DotGothic16&family=Klee+One:wght@400;600&family=Sawarabi+Mincho&display=swap');

@font-face {
    font-family: QingKeBenYueSong;
    src: url(../font/qingkebenyuesong.ttf);
}

// topbar
.topbar {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #525252;
    z-index: 1;
}

// sidebar
.sidebar {
    position: absolute;
    top: 0;
    width: 250px;
    height: calc(100% - 90px);
    background-color: transparent;

    &.sidebar-left {
        left: 0;
        margin: 60px 30px 30px 0;
        border-right: 2px solid #525252;
    }

    &.sidebar-right {
        right: 0;
        margin: 60px 0 30px 30px;
        border-left: 2px solid #525252;
    }
}

.sidebar-content-container {
    position: absolute;
    left: 0;
    height: max-content;
    margin: 0;
    background-color: transparent;
    width: max-content;
    transform: translateX(-50%);
    left: 50%;
}

.sidebar-content {
    @include font($size: 32px, $weight: 400);
    margin: 20px 0 0 0;

    &:hover {
        @include text-decoration();
    }

    &.sidebar-title {
        @include font($size: 40px, $weight: 900);

        &:hover {
            @include text-decoration($width: 5px);
        }
    }
}

// main content
.main-content-container {
    @include flex($direction: column, $align: center, $justify: center);
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: calc(100% - 600px);

    &::-webkit-scrollbar {
        display: none
    }

    scrollbar-width: none;
}

// banner
.banner-container {
    width: 100%;
    position: sticky;
    top: 30px;
    margin: 90px 0;
    height: 100px;
    background-color: rgba(234, 234, 234, 0.5);
    z-index: 1;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #525252;

    & .banner {
        @include font($size: 64px, $weight: 900);
        position: absolute;
        width: max-content;
        height: auto;
        background-color: transparent;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }
}

// text
.text-container {
    position: relative;
    width: 100%;
    height: max-content;
    margin: 30px 0;
    display: flex;
    flex-direction: column;

    & .text {
        @include font($size: 24px, $weight: 400);
        position: relative;
        width: max-content;
        max-width: 100%;
        height: auto;
        margin: 10px 0;
        padding: 0;
        transform: translateX(-50%);
        left: 50%;
        text-align: center;
    }
}

// content
.post-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;
    flex-grow: 1;
    margin: 30px 0;
    padding: 30px 0;
    background-color: transparent;
    border-bottom: 1px solid #525252;

    & .post-info {
        @include font($size: 18px, $weight: 400);
        position: relative;
        display: flex;
        width: calc(100% - 20px);
        margin-left: 20px;
        height: max-content;
        padding: 10px 0;
        text-align: center;
        align-items: center;

        & .post-title {
            @include font($size: 36px, $weight: 900);
            position: relative;
            display: block;
            width: 50%;
            max-width: max-content;
            min-width: min-content;
            height: max-content;
            margin: 0;
            padding: 20px;
            // background-color: #525252;
            // color: #eaeaea;
            white-space: normal;

            &:hover {
                background-color: #525252;
                color: #eaeaea;
            }
        }

        & .post-abstract {
            @include font($size: 20px, $weight: 400);
            position: relative;
            display: block;
            height: max-content;
            margin: 0 0 0 30px;
            padding: 20px;
            background-color: transparent;
            border-left: 3px solid #525252;
            text-align: center;
        }
    }

    & .post-metadata {
        display: flex;
        flex-direction: row;
        width: calc(100% - 20px);
        margin-left: 20px;

        & .post-date {
            @include font($size: 18px, $weight: 400);
            position: relative;
            display: block;
            width: 100px;
            height: max-content;
            margin: 0;
            padding: 10px 0;
            word-wrap: break-word;
            text-align: center;
        }

        & .post-tag-container {
            position: relative;
            margin-left: 20px;

            & .post-tag {
                @include font($size: 18px, $weight: 400);
                position: relative;
                display: inline-block;
                width: max-content;
                height: max-content;
                margin: 0 0 0 0;
                padding: 10px 40px;

                &:before {
                    content: " ";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                    background-color: #525252;
                    // border-radius: 50%;
                }
            }
        }
    }
}

.post-header {
    @include font($size: 24px, $weight: 900);
    position: relative;
    display: block;
    max-width: 100%;
    height: max-content;
    top: 30px;
    padding: 20px;
    white-space: normal;
    text-align: center;
}

.post-meta {
    @include font($size: 18px, $weight: 400);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 10px 0;
    word-wrap: break-word;
    text-align: center;

    & .post-date {
        @include font($size: 24px, $weight: 400);
        height: max-content;
        margin: 0;
        padding: 10px 0;
        word-wrap: break-word;
        text-align: center;
    }

    & .post-tags {
        height: max-content;
        margin: 0;
        padding: 10px 0;
        word-wrap: break-word;
        text-align: center;
        letter-spacing: 0.1em;
    }
}

.post-content {
    @include font($size: 20px, $weight: 400);
    margin: 30px 10%;
    border-top: #525252 1px solid;
    position: absolute;
    max-width: 80%;

    @for $i from 1 through 6 {
        & h#{$i} {
            @include font($size: 42px - $i * 4, $weight: 900);

            &:hover {
                @include text-decoration($width: 5px);

                &:before {
                    opacity: 1;
                }
            }

            &:before {
                content: "h#{$i}. ";
                @include font($size: 24px, $weight: 400);
                opacity: 0.5;
            }
        }
    }

    & p {
        margin: 40px 0;
        padding: 0;
        text-align: justify;
        line-height: 1.8;
    }

    & img {
        width: 100%;
        height: auto;
        margin: 40px 0;
        padding: 0;
    }
}